@media only screen and (max-width:1280px) {
	#nav li a {
		max-width: 140px;
	}
	#nav li {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media only screen and (max-width:1024px) {
	body {
		font-size: 1em;
	}
	.hamburger {
		display: inline-block !important;
	}
	#nav.fixed #logo-top {
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
	}
	#nav {
		font-size: 1.2em;
	}
	#nav:not(.fixed) {
		background: transparent;
		box-shadow: none;
	}
	#nav ul {
		box-sizing: border-box;
		margin-top: 60px;
		padding: 0px 10px;
		/*display: none;*/
	}
	#nav.menu-on {
		max-height: 100%;
		background-color: white;
	}
	#nav.menu-on .hamburger-inner, 
	#nav.menu-on .hamburger-inner::before, 
	#nav.menu-on .hamburger-inner::after ,
	#nav.fixed .hamburger-inner, 
	#nav.fixed .hamburger-inner::before, 
	#nav.fixed .hamburger-inner::after {
		background-color: #000;
	}
	#nav.menu-on .hamburger.is-active .hamburger-inner,
    #nav.menu-on .hamburger.is-active .hamburger-inner::before,
	#nav.menu-on .hamburger.is-active .hamburger-inner::after,
	#nav.fixed .hamburger.is-active .hamburger-inner,
    #nav.fixed .hamburger.is-active .hamburger-inner::before,
    #nav.fixed .hamburger.is-active .hamburger-inner::after {
		background-color: #000; 
	}
	
	#nav.menu-on ul {
		display: block;
	}
	
	#nav li {
		display: block;
		border: none !important;
		padding: 0px;
		text-transform: uppercase;
	}
	#nav li a {
		max-width: none;
	}
	
	#nav li:before {
		content: none;
	}
	h2 {
		font-size: 2em;
		margin-bottom: .6em;
		border-bottom-width: 3px;
	}
	h3 {
		font-size: 1.3em;
		margin-top: 1em;
		margin-bottom: 0em;
	}
	p {
		margin: 0.5em 0;
	}
	.content {
		padding: 0em 0.8em;
	}
	.columns-2 > div {
		width: 100% !important;
		margin: 0em !important;
	}
	.hm {
		display: none;
	}
}
